@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&family=Markazi+Text:wght@400..700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  list-style: none;
  align-items: center;
  padding-inline: 10%;
}

a:link, a:visited {
  text-decoration: none;
  color: black
}

h1 { /*medium 64 px Markazi*/
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-size: 3em;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

h2 { /*regular 40 px Markazi*/
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-size: 2em;
  font-weight: 400;
  margin-top: -8px;
  margin-bottom: 0px;
  padding: 0px;
  line-height: 1;
}

h3 { /*medium 20 px Karla*/
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 1em;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h4 { /*bold 20 px Karla*/
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 1em;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

h5 { /*bold 16 px Karla*/
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.75em;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

h6 { /*medium 24 px Markazi*/
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-size: 1.25em;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

p { /*regular 16 px Karla*/
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.75em;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: #F4CE14;
  border: 0px;
  border-radius: 16px;
  padding: 12px 24px 12px 24px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

label {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 1em;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.green-text {
  color: #495E57;
}

.black-text {
  color: #333333;
}

.white-text {
  color: #EDEFEE;
}

.yellow-text {
  color: #F4CE14;
}

.red-text {
  color: #EE9972
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #495E57;
  padding-inline: 20%;
}

.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  width: 250px;
  margin-top: 50px;
}

.hero-img {
  position: relative;
  margin-bottom: -5%;
  padding-top: 25px;
  width: 250px;
  height: auto;
}

.specials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 40px;
  padding-inline: 20%;
  padding-top: 120px;
  padding-bottom: 80px;
}

.specials > h1 {
  grid-column: 1 / span 2;
  height: fit-content;
}

.specials > button {
  justify-self: right;
  align-self: center;
}

.special-item {
  display: flex;
  flex-direction: column;
}

.special-img {
  width: 100%;
  height: auto;
}

.special-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #EDEFEE;
  height: 100%;
}

.special-info > div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.special-info > div:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.customers-say {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: 20%;
  padding-top: 120px;
  padding-bottom: 160px;
  background-color: #495E57;
}

.customers-say > h1 {
  align-self: center;
}

.customers-say > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
}

.rating-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  width: 15%;
  height: auto;
  background-color: #EDEFEE;
  border-radius: 16px;
}

.chicago {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-inline: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.chicago-body {
  display: flex;
  flex-direction: column;
  width: 350px;

}

.chicago-img {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 500px;
  min-width: 425px;
}

.chicago-img > img {
  width: 280px;
  height: auto;
}

.chicago-img > img:first-child {
  position: relative;
  align-self: flex-end;
  margin-bottom: -15%;
}

.chicago-img > img:last-child {
  position: relative;
  z-index: -1;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #495E57;
  margin-top: auto;
}

.footer > img {
  height: 100px;
}

.footer > span > h4 {
  margin-bottom: 20px;
}

.booking-area{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #495E57;
  padding: 40px 20%;
}

.back-button {
  width: 50px;
  cursor: pointer
}

.form-entries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

.Field {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 5px;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  gap: 10px;
  justify-content: space-around;
}

.form > button {
  align-self: center;
}

input, select {
  background-color: #EDEFEE;
  border: 0px;
  border-radius: 16px;
  width: 200px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  color: #495E57;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

select {
  width: 240px;
}

.confirmation-text {
  margin-left: 20%;
  margin-top: 50px;
}

.booking-info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.booking-info-text {
  display: flex;
  flex-direction: column;
  background-color: #EDEFEE;
  border-radius: 16px;
  width: fit-content;
  padding: 30px 40px;
  gap: 5px;
}

.booking-area > button {
  align-self: center;
  margin-top: 10px;
}

.booking-conf-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 20%;
  gap: 100px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 10px;
}